<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
    <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
</head>
<body>
    <div id="app">
        <b-card no-body>
            <b-tabs pills card vertical>
                <b-tab title="Customer" active>
                    <b-button @click="newFormGeneric(customerForm, defaultCustomerValues, 'bv-modal-customer')">New</b-button>
                    <b-button @click="refresh('customerTable')">Refresh Table</b-button>
                    <b-alert :show="dismissCountDown" dismissible fade variant="success" @dismiss-count-down="countDownChanged">
                        Save Successful. Alert will dismiss after {{ dismissCountDown }} seconds...
                    </b-alert>
                    <b-modal ref="bv-modal-customer" hide-footer>
                        <b-alert variant="danger" :show="showErrorAlert">{{ errorMessage }}</b-alert>
                        <b-alert variant="danger" :show="showErrorDetail">
                            <div>System Error</div>
                            <b-button :pressed.sync="showStackTrace" variant="primary">
                                {{ showStackTrace ? 'Hide' : 'Show' }} Error Details
                            </b-button>
                            <b-card v-if="showStackTrace">
                                {{ errorDetailMessage }}
                            </b-card>
                        </b-alert>
                        <b-form @submit="onSubmit($event, customerForm, 'bv-modal-customer')">
                            <b-form-group label="Name:">
                                <b-form-input v-model="customerForm.name"/>
                            </b-form-group>
                            <b-form-group label="Address:">
                                <b-form-input v-model="customerForm.address"/>
                            </b-form-group>
                            <b-form-group label="Contact:">
                                <b-form-input v-model="customerForm.contact"/>
                            </b-form-group>
                            <b-form-group label="Tel:">
                                <b-form-input v-model="customerForm.telephone"/>
                            </b-form-group>
                            <b-form-group label="Terms:">
                                <b-form-input v-model="customerForm.terms"/>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Submit</b-button>
                            <b-form-input v-model="customerForm.table" value="Customer" style="display:none;"/>
                            <b-form-input v-model="customerForm.id" style="display:none;"/>
                            <b-form-input v-model="customerForm.revision" style="display:none;"/>
                        </b-form>
                    </b-modal>
                    <b-table  ref="customerTable" bordered striped hover sticky-header :items="customerList" :fields="customerFields"
                             :busy="isBusy" @row-dblclicked="edit" :tbody-transition-props="transProps">
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                        <template #cell(edit)="row">
                            <b>{{ row.index + 1 }}</b>
                            <b-button size="sm" @click="edit(row.item, customerForm, 'bv-modal-customer')" class="mr-1">
                                Edit
                            </b-button>
                        </template>
                        <template #cell(name)="data">
                            {{ data.value }}
                        </template>
                        <template #cell(address)="data">
                            {{ data.value }}
                        </template>
                        <template #cell(telephone)="data">
                            {{ data.value }}
                        </template>
                        <template #cell(contact)="data">
                            {{ data.value }}
                        </template>
                        <template #cell(terms)="data">
                            {{ data.value }}
                        </template>
                    </b-table>
                </b-tab>
                <b-tab title="Order"><b-card-text>Tab contents 2</b-card-text></b-tab>
                <b-tab title="Product">
                    <b-button @click="newFormGeneric(productForm, defaultProductValues, 'bv-modal-product')">New</b-button>
                    <b-button @click="refresh('productTable')">Refresh Table</b-button>
                    <b-alert :show="dismissCountDown" dismissible fade variant="success" @dismiss-count-down="countDownChanged">
                        Save Successful. Alert will dismiss after {{ dismissCountDown }} seconds...
                    </b-alert>
                    <b-modal ref="bv-modal-product" hide-footer>
                        <b-alert variant="danger" :show="showErrorAlert">{{ errorMessage }}</b-alert>
                        <b-alert variant="danger" :show="showErrorDetail">
                            <div>System Error</div>
                            <b-button :pressed.sync="showStackTrace" variant="primary">
                                {{ showStackTrace ? 'Hide' : 'Show' }} Error Details
                            </b-button>
                            <b-card v-if="showStackTrace">
                                {{ errorDetailMessage }}
                            </b-card>
                        </b-alert>
                        <b-form @submit="onSubmit($event, productForm, 'bv-modal-product')">
                            <b-form-group label="Name:">
                                <b-form-input v-model="productForm.name"/>
                            </b-form-group>
                            <b-form-group label="Price:">
                                <b-form-input v-model="productForm.price"/>
                            </b-form-group>
                            <b-form-group label="Default Discount:">
                                <b-form-input v-model="productForm.defaultDiscount"/>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Submit</b-button>
                            <b-form-input v-model="productForm.table" value="Customer" style="display:none;"/>
                            <b-form-input v-model="productForm.id" style="display:none;"/>
                            <b-form-input v-model="productForm.revision" style="display:none;"/>
                        </b-form>
                    </b-modal>
                    <b-table  ref="productTable" bordered striped hover sticky-header :items="productList" :fields="productFields"
                              :busy="isBusy" @row-dblclicked="edit" :tbody-transition-props="transProps">
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                        <template #cell(edit)="row">
                            <b>{{ row.index + 1 }}</b>
                            <b-button size="sm" @click="edit(row.item, productForm, 'bv-modal-product')" class="mr-1">
                                Edit
                            </b-button>
                        </template>
                        <template #cell(name)="data">
                            {{ data.value }}
                        </template>
                        <template #cell(price)="data">
                            {{ data.value }}
                        </template>
                        <template #cell(defaultDiscount)="data">
                            {{ data.value }}
                        </template>
                    </b-table>
                </b-tab>
                <b-tab title="Tab 4"><b-card-text>Tab contents 4</b-card-text></b-tab>
                <b-tab title="Tab 6"><b-card-text>Tab contents 6</b-card-text></b-tab>
            </b-tabs>
        </b-card>
    </div>

    <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                isBusy: false,
                transProps: {
                  // Transition name
                  name: 'flip-list'
                },
                dismissSecs: 5,
                dismissCountDown: 0,
                showErrorAlert: false,
                showStackTrace: false,
                errorMessage: '',
                showErrorDetail: false,
                errorDetailMessage: '',
                selectedItem:{
                },
                allItems: [
                ],
                defaultCustomerValues: {
                  name: '',
                  address: '',
                  telephone: '',
                  contact: '',
                  terms: '60',
                },
                customerForm: {
                  name: '',
                  address: '',
                  telephone: '',
                  contact: '',
                  terms: '',
                  table: 'Customer',
                  id: '',
                  revision: ''
                },
                defaultProductValues: {
                  name: '',
                  price: '',
                  defaultDiscount: 'NET',
                },
                productForm: {
                  name: '',
                  price: '',
                  defaultDiscount: '',
                  table: 'Product',
                  id: '',
                  revision: ''
                },
                customerFields: [
                  {
                    key: 'edit',
                    label: 'Action'
                  },
                  {
                    key: 'name',
                    sortable: true
                  },
                  {
                    key: 'address'
                  },
                  {
                    key: 'contact',
                    label: 'Contact Person'
                  },
                  {
                    key: 'telephone',
                    label: 'Tel Number'
                  },
                  {
                    key: 'terms'
                  }
                ],
                productFields: [
                  {
                    key: 'edit',
                    label: 'Action'
                  },
                  {
                    key: 'name',
                    sortable: true
                  },
                  {
                    key: 'price'
                  },
                  {
                    key: 'defaultDiscount'
                  }
                ]
            },
            methods: {
                countDownChanged(dismissCountDown) {
                    this.dismissCountDown = dismissCountDown
                  },
                showSuccessMessage() {
                    this.dismissCountDown = this.dismissSecs
                  },
                refresh: function(refId) {
                    this.$refs[refId].refresh();
                },
                resetError(){
                    this.showErrorAlert = false
                    this.showErrorDetail = false
                    this.showStackTrace = false
                },
                newFormGeneric(form, defaultValues, refId) {
                    Object.assign(form, defaultValues)
                    form.id = ''
                    form.revision = ''
                    console.log("REF_ID:"+refId)
                    this.resetError()
                    this.$refs[refId].show()
                },
                edit: function (item, editForm, refId) {
                    this.selectedItem = item
                    Object.keys(editForm).forEach((key) => {
                        if(key != 'table'){
                            editForm[key] = item[key]
                        }
                    })
                    console.log(editForm)
                    this.resetError()
                    this.$refs[refId].show()
                },
                getData(ctx, callback, type) {
                    this.isBusy = true
                    console.log("Loading...")
                    axios.get('/list?table='+type)
                    .then((response)=>{
                        this.isBusy = false
                        console.log(response)
                        this.allItems = response.data
                        callback(response.data)
                    })
                    .catch((error)=>{
                        this.isBusy = false
                        console.log(error)
                        callback([])
                    })
                },
                customerList(ctx, callback) {
                    this.getData(ctx, callback, 'Customer')
                },
                productList(ctx, callback) {
                    this.getData(ctx, callback, 'Product')
                },
                onSubmit: function(event, submitForm, refId) {
                    event.preventDefault()
                    console.log('Submit')
                    console.log(submitForm)
                    var id = submitForm.id
                    axios.post(
                        "/saveToDb",
                        submitForm
                      )
                      .then(response => {
                        console.log(response)
                        console.log(response.data.error)
                        console.log(response.data.stackTrace)
                        var error = response.data.error
                        if(error.length > 0){
                            console.log('show error message')
                            this.resetError()
                            this.showErrorAlert = true
                            this.errorMessage = error.toString()
                            if(response.data.revisionError){
                                console.log('revision Error')
                                const {attachments,narrative,...copyForm} = response.data.result
                                Object.assign(this.customerForm, copyForm)
                            }
                        }
                        else
                        {
                            var stackTrace = response.data.stackTrace
                            if(!stackTrace || stackTrace.length == 0){
                                this.$refs[refId].hide()
                                console.log("ID:"+id)
                                if(!id || id.length == 0){
                                    console.log('push to table')
                                    //this.$refs.customerTable.items.push(response.data.result)
                                    //this.refresh('customerTable')
                                }else{
                                    console.log('write to vue table')
                                    Object.assign(this.selectedItem, response.data.result)
                                }
                                this.showSuccessMessage()
                             }
                             else{
                                console.log('show stacktrace')
                                this.resetError()
                                this.showErrorDetail = true
                                this.errorDetailMessage = stackTrace
                             }
                         }
                      })
                      .catch(error => {
                            console.log(error);
                            this.resetError()
                            this.showErrorAlert = true
                            this.errorMessage = 'Connection Error'
                      });
                }
            }
         });
    </script>
</body>
</html>